<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for Sem.Sync.SharedUI.Common.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (Code Analysis) (Any CPU)&quot; configuration in project &quot;C:\CodePlex\SemSync\VS2010\Sem.Sync.SharedUI.Common\Sem.Sync.SharedUI.Common.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1600" Action="None" />
  </Rules>
</RuleSet>