<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--
  This setup project is not very complex, but it's containing a GUI, writes registry 
  entries and files, creates folders and shortcuts. As you can see, it's not complex 
  to write sophisticating setup programs with this toolkit.
  If we get more files we will split the file into sub files for the features for the
  setup.
  -->
  <Product Name="Sem.Sync Local Sync Manager"
           Manufacturer="Sven Erik Matzen"
           Id="*"
           UpgradeCode="{7DBC91F2-890F-40C6-9B27-D0CE94DD467A}"
           Language="1033" Version="1.0.0.0" >

    <Package InstallerVersion="200" Compressed="yes"
             Description="Synchronization client for synchronizing Contacts with Xing, Outlook, Filesystem (Xml, CSV, vCards), Wer-Kennt-Wen.de, ..."
             Comments="This client does provide a generic UI to use various Sem.Sync-connectors to synchronize contacts."
             Manufacturer="Sven Erik Matzen"/>

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!-- We will install all assemblies into the programs folder, because we don't have a 
     strong name for the assemblies to sign and install them into the gac. This also 
     will enable easier versioning, because we will not have to deal with incompatible
     versions inside the gac. -->

    <Directory Id="TARGETDIR" Name="SourceDir" DiskId="1">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="SemFolder" Name="Sven Erik Matzen">
          <!-- !!! The source is the RELEASE folder, so we need a successfull release compile !!! -->
          <Directory Id="INSTALLLOCATION" Name="Sem.Sync.LocalSyncManager" FileSource="..\bin">
            <Directory Id="SyncLists" Name="SyncLists" FileSource="..\Sem.Sync.LocalSyncManager\SyncLists">
              <Component Id="SyncLists"                         Guid="{C9C9BA56-9E25-4ADB-9B74-FC1D5B18CAA2}">
                <File Id='SyncLists.SimpleCopy'                 Name='Template SimpleCopy.TSyncList' KeyPath='yes' />
                <File Id='SyncLists.Syncronize'                 Name='Template Syncronize.TSyncList' />
              </Component>
            </Directory>

            <Directory Id="ResourcesDE" Name="de" FileSource="..\bin\de">
              <Component Id="ResourcesDE"                       Guid="{F54F58EF-A2CB-4695-8B04-39F11CB31046}">
                <File Id='Connector.Exchange.resources'         Name='Sem.Sync.Connector.ExchangeWebServiceManagedApi.resources'  />
                <File Id='Connector.Filesystem.resources'       Name='Sem.Sync.Connector.Filesystem.resources.dll'                />
                <File Id='Connector.Outlook.resources'          Name='Sem.Sync.Connector.Outlook.resources.dll'                   />
                <File Id='Connector.Outlook2003.resources'      Name='Sem.Sync.Connector.Outlook2003.resources.dll'               />
                <File Id='Connector.Outlook2010.resources'      Name='Sem.Sync.Connector.Outlook2010.resources.dll'               />
                <File Id='Connector.Xing.resources'             Name='Sem.Sync.Connector.Xing.resources.dll'                      />
                
                <File Id='LocalSyncManager.resources'           Name='Sem.Sync.LocalSyncManager.resources.dll' KeyPath='yes'      />
                <File Id='OutlookWithXing.resources'            Name='Sem.Sync.OutlookWithXing.resources.dll'                     />
                
                <File Id='SharedUI.Common.resources'            Name='Sem.Sync.SharedUI.Common.resources.dll'                     />
                <File Id='SharedUI.WinForms.resources'          Name='Sem.Sync.SharedUI.WinForms.resources.dll'                   />
                <File Id='SyncBase.resources'                   Name='Sem.Sync.SyncBase.resources.dll'                            />
              </Component>
            </Directory>

            <Component Id="MainExecutable"                      Guid="{7F3569D2-598D-462A-A537-9D6531FCD7E0}">
              <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
              
              <!-- the main executable -->
              <File Id='Sem.Sync.LocalSyncManager'              Name='Sem.Sync.LocalSyncManager.exe'        KeyPath='yes'>
                <Shortcut
                    Id="MainExecutableIcon"                     Name="Sem.Sync Local Sync Manager"
                    Directory="ProgramMenuDir"                  Advertise="yes"
                    WorkingDirectory="INSTALLLOCATION"
                    Icon="Sem.Sync.LocalSyncManager.exe"        IconIndex="0"  />
              </File>

              <!-- some configuration files -->
              
              <File Id='Sem.Sync.LocalSyncManager.exe.config'   Name='Sem.Sync.LocalSyncManager.exe.config' />
            </Component>

            <!-- we also should install the dependencies ;-) -->
            <Component Id="HelperLibrary"                       Guid="{66C26CA7-CD99-4022-84E8-D72B0F49A7D8}">
              <File Id='Sem.GenericHelpers'                     Name='Sem.GenericHelpers.dll'                   KeyPath='yes' />
              <File Id='Sem.Sync.SyncBase'                      Name='Sem.Sync.SyncBase.dll'                                  />
              <File Id='Sem.Sync.SharedUI.WinForms'             Name='Sem.Sync.SharedUI.WinForms.dll'                         />
              <File Id='Sem.Sync.SharedUI.Common'               Name='Sem.Sync.SharedUI.Common.dll'                           />

              <File Id='Sem.Sync.Connector.ActiveDirectory'     Name='Sem.Sync.Connector.ActiveDirectory.dll'                 />
              <File Id='Sem.Sync.Connector.Console'             Name='Sem.Sync.Connector.Console.dll'                         />
              <File Id='Sem.Sync.Connector.ExchangeWSMA'        Name='Sem.Sync.Connector.ExchangeWebServiceManagedApi.dll'    />
              <File Id='Sem.Sync.Connector.Facebook'            Name='Sem.Sync.Connector.Facebook.dll'                        />
              <File Id='Sem.Sync.Connector.Filesystem'          Name='Sem.Sync.Connector.Filesystem.dll'                      />
              <File Id='Sem.Sync.Connector.Google'              Name='Sem.Sync.Connector.Google.dll'                          />
              <File Id='Sem.Sync.Connector.MeinVZ'              Name='Sem.Sync.Connector.MeinVZ.dll'                          />
              <File Id='Sem.Sync.Connector.Memory'              Name='Sem.Sync.Connector.Memory.dll'                          />
              <File Id='Sem.Sync.Connector.MsAccess'            Name='Sem.Sync.Connector.MsAccess.dll'                        />
              <File Id='Sem.Sync.Connector.Outlook'             Name='Sem.Sync.Connector.Outlook.dll'                         />
              <File Id='Sem.Sync.Connector.Outlook2003'         Name='Sem.Sync.Connector.Outlook2003.dll'                     />
              <File Id='Sem.Sync.Connector.Outlook2010'         Name='Sem.Sync.Connector.Outlook2010.dll'                     />
              <File Id='Sem.Sync.Connector.Statistic'           Name='Sem.Sync.Connector.Statistic.dll'                       />
              <File Id='Sem.Sync.Connector.StayFriends'         Name='Sem.Sync.Connector.StayFriends.dll'                     />
              <File Id='Sem.Sync.Connector.WerKenntWen'         Name='Sem.Sync.Connector.WerKenntWen.dll'                     />
              <File Id='Sem.Sync.Connector.Xing'                Name='Sem.Sync.Connector.Xing.dll'                            />
            </Component>

            <!-- the help files are optional -->
            <Component Id="Documentation"                       Guid="{DB366FAD-95F9-4587-B2AD-B4965C88F645}" >
              <File Id='Sem.Sync.HelpFile'                      Name='Sem_Sync_Documentation.chm'                             Source='..\Sem_Sync_Documentation.chm' KeyPath='yes'/>
            </Component>

            <!-- the description file is optional -->
            <Component Id="Description"                         Guid="{D449F541-25EE-4DC5-88A3-AD7B61BD10BF}" >
              <File Id='Sem.Sync.DescriptionPdf'                Name='SemSync.pdf'                                            Source='..\SemSync.pdf' KeyPath='yes'>
                <Shortcut
                    Id="DescriptionIcon"                        Name="Sem.Sync Description"
                    Directory="ProgramMenuDir"                  Advertise="yes"
                    WorkingDirectory="INSTALLLOCATION" />
              </File>
            </Component>


          
          
          
          
          
          
          
          
          
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="PMenu">
        <Directory Id="ProgramMenuDir" Name="Sven Erik Matzen"/>
      </Directory>

    </Directory>

    <Feature Id="ProductFeature" Title="Synchronization Manager" Level="1"
             Description="This is the executable (the application) together with the needed libraries.">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="SyncLists"      />
      <ComponentRef Id="HelperLibrary"  />
    </Feature>

    <Feature Id="Documentation" Title="Developers Documentation" Level="1">
      <ComponentRef Id="Documentation"  />
      <ComponentRef Id="Description"    />
    
    </Feature>

    <Feature Id="Localized" Title="Localized Resources (DE)" Level="1">
      <ComponentRef Id="ResourcesDE"    />

    </Feature>

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUILicenseRtf" Value="UI-Elements\License.rtf" />

    <Icon Id="Sem.Sync.LocalSyncManager.exe" SourceFile="..\bin\Sem.Sync.LocalSyncManager.exe" />

  </Product>
</Wix>
