<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="storageFolder" value="C:\ContactsServerData\Contacts.xml"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HTTPBasicBindingConfig"
                 transferMode="Streamed"
                 messageEncoding="Mtom"
                 maxBufferSize="10485760"
                 maxBufferPoolSize="10485760"
                 maxReceivedMessageSize="10485760" >
          <readerQuotas maxStringContentLength="10485760" maxArrayLength="9999" maxBytesPerRead="10485760"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <!--<behavior name="Sem.Sync.OnlineStorage.ContactServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization serviceAuthorizationManagerType="Sem.Sync.OnlineStorage.SyncServiceAuthorizationManager, Sem.Sync.OnlineStorage"/>
        </behavior>
        <behavior name="Sem.Sync.OnlineStorage.ContactViewServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>-->
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Sem.Sync.OnlineStorage.ContactService">
        <endpoint name="HTTPBasic"
                  address="http://localhost:39806/ContactService.svc"
                  binding="basicHttpBinding"
                  bindingConfiguration="HTTPBasicBindingConfig"
                  contract="Sem.Sync.OnlineStorage2.IContactService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
