<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--
  This setup project is not very complex, but it's containing a GUI, writes registry 
  entries and files, creates folders and shortcuts. As you can see, it's not complex 
  to write sophisticating setup programs with this toolkit.
  If we get more files we will split the file into sub files for the features for the
  setup.
  -->
  <Product Name="Sdx.Sync.ClientSetup"
		       Manufacturer="SDX-AG"
		       Id="*"
		       UpgradeCode="86AD8C08-F31D-4DCB-9CBF-7D72BD113D14"
		       Language="1033" Version="1.0.2.0" >

    <Package InstallerVersion="200" Compressed="yes"
             Description="Synchronization client for synchronizing Contacts with the SDX-AG relevant connectors"
             Comments="This client does provide a generic UI to use various Sem.Sync-connectors to synchronize contacts."
             Manufacturer="SDX-AG"/>

    <Upgrade Id="86AD8C08-F31D-4DCB-9CBF-7D72BD113D14">
      <UpgradeVersion Minimum="1.0.0"
                      IncludeMinimum="yes"
                      Maximum="1.0.2"
                      Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>
    
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize"/>
    </InstallExecuteSequence>

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!-- We will install all assemblies into the programs folder, because we don't have a 
     strong name for the assemblies to sign and install them into the gac. This also 
     will enable easier versioning, because we will not have to deal with incompatible
     versions inside the gac. -->

    <Directory Id="TARGETDIR" Name="SourceDir" DiskId="1">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="SdxFolder" Name="SDX-AG">
          <!-- !!! The source is the RELEASE folder, so we need a successfull release compile !!! -->
          <Directory Id="INSTALLLOCATION" Name="Sdx.Sync.Client" FileSource="..\bin">
            <Directory Id="SyncLists" Name="SyncLists" FileSource="..\Sem.Sync.LocalSyncManager\SyncLists">
              <Component Id="SyncLists"                         Guid="{B7A9BA35-43FE-41C5-B4B2-AC9877BFA308}">
                <File Id='SyncLists.SimpleCopy'                 Name='Template SimpleCopy.TSyncList' />
                <File Id='SyncLists.Syncronize'                 Name='Template Syncronize.TSyncList' KeyPath='yes' />
              </Component>
            </Directory>

            <Component Id="MainExecutable"                      Guid="{FF3BFE47-1DFD-45D8-BFD2-CAC81EC079AD}">
              <RemoveFolder Id='ProgramMenuDir' On='uninstall' />

              <!-- the main executable -->
              <File Id='Sem.Sync.LocalSyncManager'              Name='Sem.Sync.LocalSyncManager.exe'        KeyPath='yes'>
                <Shortcut
                    Id="MainExecutableIcon"                     Name="Sem.Sync Local Sync Manager"
                    Directory="ProgramMenuDir"                  Advertise="yes"
                    WorkingDirectory="INSTALLLOCATION"
                    Icon="Sem.Sync.LocalSyncManager.exe"        IconIndex="0"  />
              </File>

              <!-- some configuration files -->

              <File Id='Sem.Sync.LocalSyncManager.exe.config'   Name='Sem.Sync.LocalSyncManager.exe.config' />
            </Component>

            <!-- we also should install the dependencies ;-) -->
            <Component Id="HelperLibrary"                       Guid="{23E227D8-59FC-4AEF-AA38-0086710D562E}">
              <File Id='Sem.GenericHelpers'                     Name='Sem.GenericHelpers.dll'                   KeyPath='yes'/>
              <File Id='Sem.Sync.SyncBase'                      Name='Sem.Sync.SyncBase.dll'                    />
              <File Id='Sem.Sync.SharedUI.WinForms'             Name='Sem.Sync.SharedUI.WinForms.dll'           />
              <File Id='Sem.Sync.SharedUI.Common'               Name='Sem.Sync.SharedUI.Common.dll'             />

              <File Id='Sdx.Sync.Connector.OracleCrmOnDemand'   Name='Sdx.Sync.Connector.OracleCrmOnDemand.dll' />
              
              <File Id='Sem.Sync.Connector.Filesystem'          Name='Sem.Sync.Connector.Filesystem.dll'        />
              
              
              <File Id='Sem.Sync.Connector.Memory'              Name='Sem.Sync.Connector.Memory.dll'            />
              
              <File Id='Sem.Sync.Connector.Outlook'             Name='Sem.Sync.Connector.Outlook.dll'           />
              <File Id='Sem.Sync.Connector.Outlook2003'         Name='Sem.Sync.Connector.Outlook2003.dll'       />




            </Component>

            <!-- the help file is optional -->
            <Component Id="Documentation"                       Guid="{31D54A5B-7931-4EDA-A3E4-8FE318CED20B}" >
              <File Id='Sem.Sync.HelpFile'                      Name='Sem_Sync_Documentation.chm'                             Source='..\Sem_Sync_Documentation.chm'  KeyPath='yes'/>
            </Component>

            <!-- the description file is optional -->
            <Component Id="Description"                         Guid="{2ECB4E38-9251-49C0-87AA-73937FC67EA9}" >
              <File Id='Sem.Sync.DescriptionPdf'                Name='SemSync.pdf'                                            Source='..\SemSync.pdf' KeyPath='yes'>
                <Shortcut
                    Id="DescriptionIcon"                        Name="Sem.Sync Description"
                    Directory="ProgramMenuDir"                  Advertise="yes"
                    WorkingDirectory="INSTALLLOCATION" />
              </File>
            </Component>

            <!-- the oracle description file is optional -->
            <Component Id="DescriptionOracle"                   Guid="{A28425D0-0E64-43AE-9989-64DB1FA17079}" >
              <File Id='Sdx.Sync.OracleCrmDescriptionPdf'       Name='Synchronisierung Oracle CRM on Demand mit Outlook.pdf'  Source='..\Sdx.Sync.Connector.OracleCrmOnDemand\Synchronisierung Oracle CRM on Demand mit Outlook.pdf' KeyPath='yes'>
                <Shortcut
                    Id="DescriptionIconOracle"                  Name="Sdx.Sync.OracleCrmOnDemand Description"
                    Directory="ProgramMenuDir"                  Advertise="yes"
                    WorkingDirectory="INSTALLLOCATION" />
              </File>
            </Component>

          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="PMenu">
        <Directory Id="ProgramMenuDir" Name="SDX-AG"/>
      </Directory>

    </Directory>

    <Feature Id="ProductFeature" Title="Synchronization Manager" Level="1"
             Description="This is the executable (the application) together with the needed libraries.">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="SyncLists"      />
      <ComponentRef Id="HelperLibrary"  />
    </Feature>

    <Feature Id="Documentation" Title="Developers Documentation" Level="1">
      <ComponentRef Id="Documentation"      />
      <ComponentRef Id="Description"        />
      <ComponentRef Id="DescriptionOracle"  />
    </Feature>

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUILicenseRtf" Value="UI-Elements\License.rtf" />

    <Icon Id="Sem.Sync.LocalSyncManager.exe" SourceFile="..\bin\Sem.Sync.LocalSyncManager.exe" />

  </Product>
</Wix>
