<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for Sem.Sync.Connector.Outlook2010.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (Code Analysis) (Any CPU)&quot; configuration in project &quot;C:\CodePlex\SemSync\VS2010\Sem.Sync.Connector.Outlook2010\Sem.Sync.Connector.Outlook2010.csproj&quot;." ToolsVersion="10.0">
  <RuleHintPaths>
    <Path>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Team Tools\Static Analysis Tools\FxCop\\Rules</Path>
  </RuleHintPaths>
</RuleSet>