<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- you might add your credentials here to not being asked by the UI -->
    <add key="Xing-Contact-Connector-LogonUserId"   value=""/>
    <add key="Xing-Contact-Connector-LogonPassword" value=""/>
    
    <!-- using the cache will use already downloaded data -->
    <add key="Xing-Contact-Connector-UseCache"      value="false" />
    <!-- skipping non-cached entries will not download any data 
         not skipping means that we will download deleted files -->
    <add key="Xing-Contact-Connector-SkipNotCached" value="false" />
    <!-- using the ie cookies you may be able to skip the logon
         screen, because you are already authenticated by the cookie -->
    <add key="Xing-Contact-Connector-UseIeCookies"  value="false" />
    
  </appSettings>
</configuration>