<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Sem.Sync.OnlineStorage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="HTTPBasicBindingConfig" maxBufferSize="6553600" maxBufferPoolSize="5242880" maxReceivedMessageSize="6553600"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<remove contract="IMetadataExchange" name="sb"/>
			<endpoint address="" binding="netTcpRelayBinding" bindingConfiguration="metadataExchangeRelayBinding" contract="IMetadataExchange" name="sb"/>
		</client>
		<services>
			<service behaviorConfiguration="Sem.Sync.OnlineStorage.ContactServiceBehavior" name="Sem.Sync.OnlineStorage.ContactService">
				<endpoint address="http://localhost:63638/ContactService.svc" binding="basicHttpBinding" bindingConfiguration="HTTPBasicBindingConfig" name="HTTPBasic" bindingNamespace="http://svenerikmatzen.com/Sem/Sync/OnlineStorage" contract="Sem.Sync.OnlineStorage.IContact">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="Sem.Sync.OnlineStorage.ContactViewServiceBehavior" name="Sem.Sync.OnlineStorage.ContactViewService">
				<endpoint address="" binding="basicHttpBinding" contract="Sem.Sync.OnlineStorage.IContactViewService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Sem.Sync.OnlineStorage.ContactServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceAuthorization serviceAuthorizationManagerType="Sem.Sync.OnlineStorage.SyncServiceAuthorizationManager, Sem.Sync.OnlineStorage"/>
				</behavior>
				<behavior name="Sem.Sync.OnlineStorage.ContactViewServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<applicationSettings>
		<Sem.Sync.OnlineStorage.Properties.Settings>
			<setting name="StoragePath" serializeAs="String">
				<!-- todo: you will need to replace this with the correct path to a read/write granted file -->
				<value>C:\ContactsServerData\Contacts.xml</value>
			</setting>
		</Sem.Sync.OnlineStorage.Properties.Settings>
	</applicationSettings>
</configuration>
