<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LocalSyncManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <LocalSyncManager.Properties.Settings>
      <setting name="ReferenceFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="WorkingFolder"   serializeAs="String">
        <value />
      </setting>
    </LocalSyncManager.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="Sem.Sync.SyncBase-VersionCheck"       value="true"/>

    <!-- you might add your credentials here to not being asked by the UI -->
    <add key="Xing-Contact-Connector-LogonUserId"   value=""/>
    <add key="Xing-Contact-Connector-LogonPassword" value=""/>

    <!-- skipping non-cached entries will not download any data 
         not skipping means that we will download deleted files -->
    <add key="Xing-Contact-Connector-SkipNotCached" value="false" />
    <!-- using the ie cookies you may be able to skip the logon
         screen, because you are already authenticated by the cookie -->
    <add key="Xing-Contact-Connector-UseIeCookies"  value="false" />

    <add key="FileSystem Contact Connector - individual vCards with external pictures-Save-Pictures-External"  value="true"/>
    <add key="Active-Directory-Connector-DumpPath"  value="C:\AD-Path"/>

    <!-- using the cache will use already downloaded data -->
    <add key="Xing-Contact-Connector-UseCache"        value="false" />
    <add key="MeinVZ-Connector-UseCache"              value="false" />
    <add key="StayFriends-Connector-UseCache"         value="false" />
    <add key="Facebook-WebScaping-Connector-UseCache" value="false" />

    <add key="SendExceptionDetails"                   value="true" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>

        <binding name="WSHttpBinding_IContactService" >
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows"
                       proxyCredentialType="None"
                       realm="" />
            <message clientCredentialType="Windows"
                     negotiateServiceCredential="true"
                     algorithmSuite="Default"
                     establishSecurityContext="true" />
          </security>
        </binding>

        <binding name="WSHttpBinding_IContact"
						 maxBufferPoolSize="524288" maxReceivedMessageSize="6553600"
						 messageEncoding="Text" textEncoding="utf-8"
						 allowCookies="false">
          <reliableSession
						ordered="true"
						inactivityTimeout="00:10:00"
						enabled="false" />
          <security mode="Message">
            <transport
							clientCredentialType="Windows"
							proxyCredentialType="None"
							realm="" />
            <message
							clientCredentialType="Windows"
							negotiateServiceCredential="true"
							algorithmSuite="Default"
							establishSecurityContext="true" />
          </security>
        </binding>

      </wsHttpBinding>

      <basicHttpBinding>
        <binding name="BasicHttpBinding_IContactService" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <binding name="basicHttpBinding_IContactService"
                 maxBufferSize="6553600" maxReceivedMessageSize="6553600"/>
        <binding name="basicHttpBinding_IContact" />
        <binding name="basicHttpBinding_IStorage" />
        <binding name="BasicExceptionService" >
          <readerQuotas maxStringContentLength="2147483647"/>
          <!--<security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>-->
        </binding>
      </basicHttpBinding>

    </bindings>
    <client>
      <!--<endpoint address="http://localhost:8969/ExceptionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicExceptionService"
                contract="ExceptionService.IExceptionService" name="BasicExceptionService" />-->

      <endpoint address="http://www.svenerikmatzen.info/Beta/ExceptionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicExceptionService"
                contract="ExceptionService.IExceptionService" name="BasicExceptionService" />

      <endpoint address="http://localhost:49888/ContactService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContactService"
                contract="Azure.IContactService" name="BasicHttpBinding_IContactService" />

      <endpoint name="basicHttpBinding_IStorage"
                address="http://localhost:50643/Storage.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IStorage"
                contract="Cloud.IStorage" />

      <endpoint name="basicHttpBinding_IContact"
                address="http://localhost:63638/ContactService.svc"
					      binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IContact"
					      contract="OnlineStorage.IContact">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint name="WSHttpBinding_IContactService"
                address="http://localhost:8082/ContactService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IContactService"
                contract="Azure.IContactService" >
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

    </client>
  </system.serviceModel>
</configuration>