<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LocalSyncManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <LocalSyncManager.Properties.Settings>
      <setting name="ReferenceFolder" serializeAs="String">
        <value/>
      </setting>
      <setting name="WorkingFolder" serializeAs="String">
        <value/>
      </setting>
    </LocalSyncManager.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="Sem.Sync.SyncBase-VersionCheck" value="false"/>

    <!-- you might add your credentials here to not being asked by the UI -->
    <add key="Xing-Contact-Connector-LogonUserId" value=""/>
    <add key="Xing-Contact-Connector-LogonPassword" value=""/>

    <!-- skipping non-cached entries will not download any data 
         not skipping means that we will download deleted files -->
    <add key="Xing-Contact-Connector-SkipNotCached" value="false"/>
    <!-- using the ie cookies you may be able to skip the logon
         screen, because you are already authenticated by the cookie -->
    <add key="Xing-Contact-Connector-UseIeCookies" value="false"/>

    <add key="FileSystem Contact Connector - individual vCards with external pictures-Save-Pictures-External" value="true"/>
    <add key="Active-Directory-Connector-DumpPath" value="C:\AD-Path"/>

    <!-- using the cache will use already downloaded data -->
    <add key="Xing-Contact-Connector-UseCache" value="false"/>
    <add key="MeinVZ-Connector-UseCache" value="false"/>
    <add key="StayFriends-Connector-UseCache" value="false"/>
    <add key="Facebook-WebScaping-Connector-UseCache" value="false"/>

    <add key="SendExceptionDetails" value="true"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>

        <binding name="WSHttpBinding_IContactService" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600">
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>

        <binding name="WSHttpBinding_IContact" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" allowCookies="false">
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>

      </wsHttpBinding>

      <basicHttpBinding>
        <binding name="basicHttpBinding_IContactService2" maxBufferSize="6553600" maxReceivedMessageSize="6553600" >
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <!--
        <binding name="basicHttpBinding_IContactService"  maxBufferSize="6553600" maxReceivedMessageSize="6553600" />
        <binding name="basicHttpBinding_IContact"         maxBufferSize="6553600" maxReceivedMessageSize="6553600" />
        <binding name="basicHttpBinding_IStorage"         maxBufferSize="6553600" maxReceivedMessageSize="6553600" />
        -->
        <binding name="BasicExceptionService"             maxBufferSize="6553600" maxReceivedMessageSize="6553600" >
          <readerQuotas maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>

    </bindings>
    <client>
      <!--<endpoint address="http://localhost:8969/ExceptionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicExceptionService"
                contract="ExceptionService.IExceptionService" name="BasicExceptionService" />-->

      <endpoint address="http://www.svenerikmatzen.info/Beta/ExceptionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicExceptionService" contract="ExceptionService.IExceptionService" name="BasicExceptionService"/>

      <!--
      <endpoint name="basicHttpBinding_IContactService"  address="http://localhost.:49888/ContactService.svc"  binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IContactService"  contract="Azure.IContactService" />
      <endpoint name="basicHttpBinding_IStorage"         address="http://localhost.:50643/Storage.svc"         binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IStorage"         contract="Cloud.IStorage"/>
      <endpoint name="basicHttpBinding_IContact"         address="http://localhost.:63638/ContactService.svc"  binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IContact"         contract="OnlineStorage.IContact" />
      -->
      <endpoint name="basicHttpBinding_IContactService2" address="http://localhost.:39806/ContactService.svc"  binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IContactService2" contract="ContactService2.IContactService" />

    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
