<?xml version="1.0"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicExceptionService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.svenerikmatzen.info/Content/ExceptionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicExceptionService" contract="ExceptionService.IExceptionService" name="BasicExceptionService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>