<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicExceptionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8969/ExceptionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicExceptionService"
                contract="ExceptionService.IExceptionService" name="BasicExceptionService" />
        </client>
    </system.serviceModel>
</configuration>