<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
    <!--<binding name="HTTPBasic"                         maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" />
        <binding name="BasicHttpBinding_IStorage"         maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" />-->
        <binding name="BasicHttpBinding_IContactService"  maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" />
      </basicHttpBinding>
    </bindings>
    <client>
  <!--<endpoint name="BasicHttpBinding_IStorage"        address="http://localhost:50643/Storage.svc"        binding="basicHttpBinding" contract="Cloud.IStorage"                  bindingConfiguration="BasicHttpBinding_IStorage" />
      <endpoint name="HTTPBasicClient"                  address="http://localhost:63638/ContactService.svc" binding="basicHttpBinding" contract="OnlineStorage.IContact"          bindingConfiguration="HTTPBasic" />-->
      <endpoint name="BasicHttpBinding_IContactService" address="http://localhost:39806/ContactService.svc" binding="basicHttpBinding" contract="ContactService2.IContactService" bindingConfiguration="BasicHttpBinding_IContactService"/>
    </client>
  </system.serviceModel>
</configuration>