<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Sem.Sync.SyncBase-VersionCheck"       value="false"/>
    <add key="ExchangeWSMA-Connector-ServerUrl"       value="https://srvffm15a.frankfurt.sdx-ag.de/ews/exchange.asmx" />
  </appSettings>
</configuration>